# temporary files
tmp/
cache/
logs/

# data files
data/*
*.csv
*.rds
*.pq
*.parquet
*.xls
*.xlsx
*.zip


# Python
/env/
.ipynb_checkpoints/
.last_checked
*.pyc
# only track .md versions of notebooks
*.ipynb


# R
.Rproj.user
*.Rhistory
*.RData
# either use global library or install with renv from DESCRIPTION
renv/
renv.lock
# .Renviron is used for user-specific configuration
.Renviron

# Quarto
/.quarto/
*.html
*_files/
notebooks/*_cache/



# other
*DS_Store*
*.swp

